

<div class="container con_photo">
    <div class="photo">
        <img src='{{ photo.picture }}'>
        <div class="rating">
          <ng-container *ngFor="let i of stars">
            <i class="fa-solid fa-star" (click)="updateRating(i)" [ngClass]="{'active': i <= rate}"></i>
          </ng-container>
          <p>Ocena: {{rating}}</p>
        </div>

    </div>
    <div class="right">
      <div class="description">
        <p><strong>Autor:</strong> {{photo.username}}</p>
        <p><strong>Opis:</strong> {{photo.description}}</p>
      </div>
      <div class="comments">
          <div *ngFor="let c of comments">
            <div class="comment">
              <p class="author">{{c.author}}</p>
              <p>{{c.content}}</p>
            </div>
          </div>
    </div>
    <div class="add_comment">
      <form [formGroup]="commentForm">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Dodaj komentarz..." formControlName="comment">
          <button type="submit" class="btn btn-primary" (click)="addComments()">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </form>
    </div>
    </div>
    

</div>
