.con_photo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 700px;
    min-height: 550px;
    overflow: none;
}

.photo{
    display: flex; 
    flex-direction: column;
    padding: 40px;
}

.photo img{
    justify-content: center; 
    align-items: center;
    height: 560px;
    width: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.rating{
    margin-top: 5px;
    gap: 5px;

}

.rating i {
    color: #8080806b;
    cursor: pointer;
    font-size: 18px;
}

.rating .active {
    color: orange;
}

.right{
    min-height: 550px;
}

.description{
    min-height: 80px;
    padding: 14px;
}

.comments {
    margin-bottom: 20px;
    padding: 30px;
    width: 380px;
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
    overflow-y: auto;
}

.add_comment{
    width: 95%;
    height: 60px;
}


.add_comment input{
    width: 90%;
}

.add_comment button{
    position: relative;
    top: -37px;
    left: 280px;
    border-radius: 50%;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 25px;
    margin-top: -6px;
}

.show_comment{
    max-height: 600px;
    overflow-y: auto;
}

.comment{
    width: 99%;
    padding: 10px;
    margin-bottom: 15px;
    background-color:rgb(247, 249, 252);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.comment .author{
    font-size: 15px;
    font-weight: 500;

}



/* Zmiana kształtu paska przewijania na zaokrąglony */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
  }
  
  /* Zmiana kształtu kciuka przewijania na zaokrąglony */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }