<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Galeria</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        
        <div class="gallery ">

            <div class="box">
                <img src="./assets/img/photos/1.jpg" alt="">
            </div>
            <div class="box">
                <img src="./assets/img/photos/2.jpg" alt="">
            </div>
            <div class="box">
                <img src="./assets/img/photos/3.jpg" alt="">
            </div>
            <div class="box">
                <img src="./assets/img/photos/4.jpg" alt="">
            </div>
            <div class="box">
                <img src="./assets/img/photos/5.jpg" alt="">
            </div>

        </div>

      </div>
    </div>
  </div>