<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2">Galeria</div>
    <div class="page_content shadow p-3 position-relative">
      <div class="page_content-data position-absolute text-center">
        <a routerLink="/user_dashboard/new_image" class="btn btn-outline-dark" role="button" aria-disabled="true" >Dodaj</a>
        
        <div class="gallery ">
          <ngx-masonry [options]="masonryOptions" [ordered]="true">
            <div ngxMasonryItem *ngFor="let picture of masonryImages.slice(0, limit); let i = index" class="masonry-item" (click)="openDialog(i)">
              <img src="{{picture.picture}}">
            </div>
          </ngx-masonry>
        </div>

      </div>
    </div>
  </div>