<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Profil użytkownika</div>
    <div class="page__content shadow p-3">
      <div class="page__content-data">
        
        <div class="row user_info">
          <h1>Twoje dane</h1>
          <div class="col-6">
            <h3>Imie: Janek</h3> 
            <h3>Nazwisko: Kowal</h3>
            <h3>Email: jkowal@gmail.com</h3>
          </div>
          <div class="col-6">
            <h3>Opis</h3>
            <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi eum aut culpa exercitationem officiis quas tempora quae excepturi harum minima. Suscipit tempora impedit autem soluta nesciunt earum asperiores doloribus cupiditate?</h4>
          </div>
        </div>
      </div>
    </div>
  </div>