.page_box {
    color: white;
    padding: 0 1rem;
    min-height: 120px;
    background: #ababab;
    margin: 0 -1rem;
    font-size: 36px;
}

.page_content{
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    
}

.user_info{
    background-color:rgb(70, 70, 70);
    color: white;
    margin: 10px;
    padding: 2px;
    border-radius: 10px;
}