<app-navbar></app-navbar>

<div class="container-fluid">

    

<div class="container main-container">

    <div class="select_div">
        <h3>Filtruj po kategoriach</h3>
        <select class="form-select" [(ngModel)] = 'selectedCategory' (change)="handleSelection($event)">
            <option *ngFor="let category of categories" [ngValue]="category.id">
                {{category.name}}
            </option>
        </select>
        <button type="button" class="btn btn-outline-secondary my-3" (click)="showAll()">Pokaż wszystkie...</button>
    </div>



    <div class="gallery" 
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="showMoreImages()"
        >
        <ngx-masonry [options]="masonryOptions" [ordered]="true">
            <div ngxMasonryItem  *ngFor="let picture of masonryImages.slice(0, limit); let i = index" class="box" (click)="openDialog(i)">
                <div class="imgBx" >
                    <img src="{{picture.picture}}">
                </div>
                <div class="content">
                    <h2>{{picture.author}}</h2>
                </div>
            </div>
          </ngx-masonry>
    </div>
    <div class="spinner text-center" *ngIf="showSpinnerFlag">
        <mat-spinner *ngIf="limit < images_length"></mat-spinner>
        <h2 *ngIf="limit >= images_length">Brak zdjęć</h2>
    </div>
    
</div>
</div>

