<app-navbar></app-navbar>

<div class="container-fluid">

<div class="container main-container">

    <div class="gallery" 
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="showMoreImages()"
        >
        <ngx-masonry [options]="masonryOptions" [ordered]="true">
            <div ngxMasonryItem  *ngFor="let picture of images.slice(0, this.limit); let i = index" class="box" (click)="openDialog(i)">
                <div class="imgBx" >
                    <img src="{{picture.picture}}">
                </div>
                <div class="content">
                    <h2>{{picture.author}}</h2>
                </div>
            </div>
          </ngx-masonry>
    </div>
    <div class="spinner text-center">
        <mat-spinner *ngIf="limit < images_length"></mat-spinner>
        <h2 *ngIf="limit >= images_length">Brak zdjęć</h2>
    </div>
    
</div>
</div>

