<mat-nav-list>
    <div class="logo py-4">
      <!-- <img src="./assets/img/img_default.jpg" alt="Company Logo" /> -->
      <img [src]="avatar"/>
    </div>
    <mat-divider></mat-divider>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user_dashboard/home_dashboard" class="list-item">
      <mat-icon>home</mat-icon> Start
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user_dashboard/user_edit">
      <mat-icon>dashboard</mat-icon> Edytuj dane
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user_dashboard/user_gallery">
      <mat-icon>photo</mat-icon> Galeria
    </a>

</mat-nav-list>